name: Publish

on:
  release:
    types:
      - released

jobs:
  publish:
    name: Publish to Crates.io
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: cargo publish --all-features --locked --verbose --dry-run
