name: Publish

on:
  release:
    types:
      - released

jobs:
  publish:
    name: Publish to Crates.io
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v2
      - name: Install libudev
        run: |
          sudo apt update
          sudo apt install libudev-dev
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo publish --all-features --locked --verbose
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
